<h1>Route Logic.</h1>
<p class="lead">The Leader in Route Optimization Software.</p>

<div class="container">
  	<hr>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Addresses</h3></div>
            <div class="panel-body">
                <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                  <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                </sebm-google-map>
                <div class="form-group">
                  <input placeholder="Enter your address here..." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                </div>
                <button class="btn btn-primary" type="button" (click)="addAddress(search.value)">Enter</button>

                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th style="text-align:center">Address</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let address of addresses | async" >
                        <td>{{address.Address}}</td>
                        <td><button class="btn btn-default" type="button" (click)="deleteAddress(address)">Delete</button></td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  
  	<div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Logout.</h3></div>
            <div class="panel-body"><p><a [routerLink]="['/login']">Logout</a></p>
            </div>
          </div>
        </div>
  </div>
</div>
